$nav-color: #6282b3;

nav {
  border: 1px solid $nav-color;
  background-color: $nav-color;
}

#nav-container {
  width: 100%;
  position: fixed;
  z-index: 10;
}

nav ul {
  border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li {
  list-style: none;
  margin-right: 10px;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

li:nth-of-type(2) a {
  // border: 1px solid red;
  margin-left: 15px;
}

#trophy-icon {
  margin-left: auto;
  margin-right: 40px;
}

nav h3 {
  display: inline-block;
}

#nav-logo {
  font-size: 25px;
}