$nav-color: #6282b3;

#nav-container {
  width: 100%;
  position: fixed;
  z-index: 10;
}

nav {
  border: 1px solid $nav-color;
  background-color: $nav-color;
  width: 100%;
}

nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

li:first-of-type {
  // margin-right: 10px;
  padding: 0px 35px;
}

li:last-of-type {
  padding: 0px 35px;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

li:nth-of-type(3) {
  margin-left: auto;
}

#nav-logo {
  font-size: 1.5em;
}

#trophy-icon {
  font-size: 1.3em;
}

nav h3 {
  display: inline-block;
}