nav {
  border: 1px solid red;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li {
  list-style: none;
  margin-right: 10px;
}

li a {
  text-decoration: none;
  color: black;
}