$x-icon-margin: 120px;

@keyframes load-text {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes load-popup {
  from {
    height: 1px;
  }
  to {
    height: 55px;
  }
}

.popup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #x-left {
    margin-right: $x-icon-margin;
  }

  #x-right {
    margin-left: $x-icon-margin;
  }

  background: rgba(243, 112, 112, 0.554);
  border: 3px solid rgb(243, 112, 112);
  color: rgb(3, 30, 41);
  margin-top: 10px;
  border-radius: 5px;
  animation-name: load-popup;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  

  p {
    margin: 0;
    padding: 10px 5px;
    animation-name: load-text;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }
}

.popup--failure {
  background: rgba(243, 112, 112, 0.554);
  border: 3px solid rgb(243, 112, 112);
  color: rgb(3, 30, 41);
}
