.timer {
  width: 100%;
  display: flex;
  padding: 5px 0px;
  font-size: 28px;

  p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  p:nth-of-type(2) {
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 32px;
    margin-left: 10px;
  }

  p:nth-of-type(3) {
    margin-left: auto;
  }

  #pause-timer {
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 20px;
    color: black;
    z-index: 15;
  }
}